.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.project
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
/dist
/config/dev.env.js
/config/prod.env.js
package-lock.json